{{ define "main" -}}
{{ $lang := .Lang -}}
{{ $nick := .Name -}}
{{ with index $.Site.Data.authors $nick -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<header>
<h1 class="title"><a name="_top">{{ .DisplayName }}</a></h1>
<h2><a href="authorposts.htm">{{ i18n "author_all_posts" }}</a></h2>
</header>
<div class="content">

<p>{{ index .ShortBio $lang | markdownify }}</p>
<img alt="{{ .DisplayName }}" src="{{ .Picture }}">
<table>
{{ range .Social }}
<tr> <td>{{ .Name }}</td> <td> <a href="{{ .Url }}">{{ .Value }}</a> </td> </tr>
{{ end }}
</table>


{{ range .Pages }}
<li>
    {{ .Params.Title }}
</li>
{{ end }}
{{ end }}


</div>
</article>
</main>
{{ end }}
