name: publish-on-master

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 4 *'

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.68.3'
          extended: true

      - name: Build
        run: hugo --minify --environment production

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.PUBLISH_ON_MASTER }}
          external_repository: Getlatestversion/getlatestversion.github.io
          publish_branch: master
          publish_dir: ./public
